.main-footer {
  background-color: #333;
  text-align: center;
  padding: 0;
  height: 60px; /* unified height */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  color: white;
  border-top: 2px solid black;
}
