.main-header {
  background-color: #333;
  text-align: center;
  padding: 0;
  height: 60px; /* unified height */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  border-bottom: 2px solid black;
}
